@import @theme

.header
  height: auto
  display: flex
  width: 100%
  padding: $margin
  text-align: center
  align-items: center
  justify-content: space-between

  .label
    font-size: $size-3
    font-weight: bolder

  .button
    color: $white
    padding: $margin-smallest
    display: flex
    align-self: center
    border-radius: 999px
    border: 2px solid $white
    box-sizing: border-box
    cursor: pointer

  .button > *
    transform: translate(-1.5px, 1px) scale(-1, 1)

.entry
  text-align: center
  padding: 0.85rem
  font-size: $size-3
  color: black
  border-top: 1px solid black
  border-bottom: 1px solid black
  text-transform: capitalize
  cursor: pointer
  display: flex
  align-items: center
  align-content: center
  justify-content: center

.entry a
  display: block
