@import @theme

.Document
  background-color: $white
  color: $black
  max-width: 768px
  padding: $margin

  h1
    font-size: $size-3

  pre
    overflow: scroll
    padding-bottom: $margin-smaller
