@import @theme

.Primary
  width: auto
  background: $black
  color: $white
  outline: 0
  border: 0
  padding: $margin-smaller $margin
  font-size: 18px
  border-radius: 999px
  text-transform: uppercase
  letter-spacing: 2px
  line-height: 24px
