@import @theme

.disclaimer
  color: $black
  background-color: $light-grey
  padding: $size-7
  display: flex
  font-size: 0.8rem
  font-weight: bolder

.disclaimerText
  padding: 0 $size-7

.disclaimerIcon
  align-self: center

.footer
  position: relative
  color: white
  background-color: $black
  padding: $size-7

.content
  position: relative

.logo

.links
  display: inline-block

.links > *
  line-height: 1.75

.backToTop
  position: absolute
  top: 0
  right: 0
