@import @theme

.wrapper
  padding: $margin-smaller
  display: flex
  justify-content: space-between
  align-items: center
  align-content: center

.selectorWrapper
  height: auto
  display: flex
  background-color: $black
  padding: $margin-smaller $margin-small
  border-radius: 999px
  color: $white !important

.currentRegion
  position: relative
  height: 100%
  text-transform: capitalize
  flex-direction: row
  align-items: center
  align-content: center
  justify-content: center
  margin-right: $margin-smallest

.dropdownIcon
  display: flex
  align-items: center
