@import @theme

.wrapper
  padding: $margin-smallest $margin-smaller
  display: flex
  justify-content: space-between
  align-items: center
  align-content: center
  background-color: $black
  color: $white

.selectorWrapper
  height: auto
  display: flex
  padding: $margin-smallest $margin-smaller $margin-smallest $margin-smallest
  border-radius: 999px
  border: 2px solid $white

.dropdownIcon
  display: flex
  align-items: center
  margin-right: $margin-smallest

.currentRegion
  position: relative
  height: 100%
  text-transform: capitalize
  flex-direction: row
  align-items: center
  align-content: center
  justify-content: center
