@import theme/colors
@import theme/metrics

.wrapper
  color: black

.hero
  min-height: 90vh
  background-color: $yellow
  display: flex
  flex-direction: column
  height: 100%

.messageWrapper
  flex-grow: 1
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  padding: 1rem

.furtherIndicator
  padding-bottom: 1rem
  display: flex
  flex-direction: column
  align-items: center

.furtherMessage
  padding-bottom: 0.5rem

.furtherIndicator svg
  animation: down 4s cubic-bezier(0.35,0,0,0.35) infinite

.activityCard
  margin: 0 0.5rem
  padding: 1rem 0.5rem
  border-bottom: 1px solid rgba(0, 0, 0, 0.15)

.activityCard > *
  margin: 0.5rem 0
  display: block
  text-align: center

.activityCard .emoji
  font-size: $size-1

.activityCard .title
  font-size: $size-5

.activityCard .subtitle
  opacity: .5
  font-size: $size-7

@keyframes down
  0%
    transform: translate3d(0, 0%, 0)
  5%
    transform: translate3d(0, 80%, 0)
  10%
    transform: translate3d(0, 80%, 0)
  20%
    transform: translate3d(0, 0%, 0)
