@import theme/colors
@import theme/metrics

.wrapper
  position: relative
  width: 100%
  height: var(--viewport-height, 100vh)
  display: flex
  flex-direction: column

.mainContent
  width: 100%
  padding-top: $margin-largest
  display: flex
  flex-direction: column
  flex-grow: 1
  justify-content: center
  align-items: center

  span
    margin: 1rem 0

.actionContainer
  width: 100%
  bottom: 0
  padding: 2rem 1rem
  text-align: center
  flex-grow: 0

  button
    max-width: 400px

  > button:first-child
    margin-bottom: $margin-smaller
