@import @theme

$max-content-width: 400px

.wrapper
  position: relative
  width: 100%
  height: var(--viewport-height, 100vh)
  display: flex
  flex-direction: column

.mainContent
  width: 100%
  max-width: $max-content-width
  margin: auto
  padding: $margin-largest $margin 0
  display: flex
  flex-grow: 1
  flex-direction: column
  justify-content: center
  align-items: flex-start

  .logo
    height: $size-2
    margin-bottom: $margin-small

  span
    margin: 1rem 0

.actionContainer
  width: 100%
  bottom: 0
  padding: $margin-smaller $margin-small
  text-align: center
  flex-grow: 0
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  align-content: center

  button
    max-width: $max-content-width
    margin: auto
    margin-top: $margin-smaller

  .label
    padding-right: $margin-smaller
